In [1]:
# Cell 1
#download dataset from https://www.kaggle.com/competitions/ieee-fraud-detection

In [2]:
# Cell 2
import pandas as pd
import gc
train_transaction = pd.read_csv('../data/raw/train_transaction.csv')
display(train_transaction.head())
print(train_transaction.shape)
del train_transaction
gc.collect()
train_identity = pd.read_csv('../data/raw/train_identity.csv')
display(train_identity.head())
print(train_identity.shape)
del train_identity
gc.collect()
test_transaction = pd.read_csv('../data/raw/test_transaction.csv')
display(test_transaction.head())
print(test_transaction.shape)
del test_transaction
gc.collect()
test_identity = pd.read_csv('../data/raw/test_identity.csv')
display(test_identity.head())
print(test_identity.shape)
del test_identity
gc.collect()

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
0,2987000,0,86400,68.5,W,13926,NaN,150.0,discover,142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2987002,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2987003,0,86499,50.0,W,18132,567.0,150.0,mastercard,117.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2987004,0,86506,50.0,H,4497,514.0,150.0,mastercard,102.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

(590540, 394)

,TransactionID,id_01,id_02,id_03,id_04,id_05,id_06,id_07,id_08,id_09,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,2987004,0.0,70787.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,samsung browser 6.2,32.0,2220x1080,match_status:2,T,F,T,T,mobile,SAMSUNG SM-G892A Build/NRD90M
1,2987008,-5.0,98945.0,NaN,NaN,0.0,-5.0,NaN,NaN,NaN,...,mobile safari 11.0,32.0,1334x750,match_status:1,T,F,F,T,mobile,iOS Device
2,2987010,-5.0,191631.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,...,chrome 62.0,NaN,NaN,NaN,F,F,T,T,desktop,Windows
3,2987011,-5.0,221832.0,NaN,NaN,0.0,-6.0,NaN,NaN,NaN,...,chrome 62.0,NaN,NaN,NaN,F,F,T,T,desktop,NaN
4,2987016,0.0,7460.0,0.0,0.0,1.0,0.0,NaN,NaN,0.0,...,chrome 62.0,24.0,1280x800,match_status:2,T,F,T,T,desktop,MacOS

(144233, 41)

,TransactionID,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
0,3663549,18403224,31.95,W,10409,111.0,150.0,visa,226.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3663550,18403263,49.00,W,4272,111.0,150.0,visa,226.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3663551,18403310,171.00,W,4476,574.0,150.0,visa,226.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3663552,18403310,284.95,W,10989,360.0,150.0,visa,166.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3663553,18403317,67.95,W,18018,452.0,150.0,mastercard,117.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

(506691, 393)

,TransactionID,id-01,id-02,id-03,id-04,id-05,id-06,id-07,id-08,id-09,...,id-31,id-32,id-33,id-34,id-35,id-36,id-37,id-38,DeviceType,DeviceInfo
0,3663586,-45.0,280290.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,...,chrome 67.0 for android,NaN,NaN,NaN,F,F,T,F,mobile,MYA-L13 Build/HUAWEIMYA-L13
1,3663588,0.0,3579.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,...,chrome 67.0 for android,24.0,1280x720,match_status:2,T,F,T,T,mobile,LGLS676 Build/MXB48T
2,3663597,-5.0,185210.0,NaN,NaN,1.0,0.0,NaN,NaN,NaN,...,ie 11.0 for tablet,NaN,NaN,NaN,F,T,T,F,desktop,Trident/7.0
3,3663601,-45.0,252944.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,...,chrome 67.0 for android,NaN,NaN,NaN,F,F,T,F,mobile,MYA-L13 Build/HUAWEIMYA-L13
4,3663602,-95.0,328680.0,NaN,NaN,7.0,-33.0,NaN,NaN,NaN,...,chrome 67.0 for android,NaN,NaN,NaN,F,F,T,F,mobile,SM-G9650 Build/R16NW

(141907, 41)

0

In [3]:
# Cell 3
import pandas as pd
import numpy as np

def reduce_mem_usage(df):
    for col in df.columns:
        col_type = df[col].dtype
        if col_type != object:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
            else:
                df[col] = df[col].astype(np.float32) # Standard for TabNet
    return df

In [4]:
# Cell 4
# Load only Training data first to save RAM
train_transaction = pd.read_csv('../data/raw/train_transaction.csv')
train_identity = pd.read_csv('../data/raw/train_identity.csv')

# Merge on TransactionID
train = pd.merge(train_transaction, train_identity, on='TransactionID', how='left')

# Apply memory reduction
train = reduce_mem_usage(train)
print(f"Memory usage after downcasting: {train.memory_usage().sum() / 1024**2:.2f} MB")

Memory usage after downcasting: 1044.70 MB

In [5]:
# Cell 5
# Load only Training data first to save RAM
test_transaction = pd.read_csv('../data/raw/test_transaction.csv')
test_identity = pd.read_csv('../data/raw/test_identity.csv')

# Merge on TransactionID
test = pd.merge(test_transaction, test_identity, on='TransactionID', how='left')

# Apply memory reduction
test = reduce_mem_usage(test)
print(f"Memory usage after downcasting: {test.memory_usage().sum() / 1024**2:.2f} MB")

Memory usage after downcasting: 895.89 MB

In [6]:
#Cell 6
test.rename(columns=lambda x: x.replace('-', '_'), inplace=True)

train_cols = set(train.columns)
test_cols = set(test.columns)
common_cols = train_cols.intersection(test_cols)

expected_diff = {'isFraud'}
actual_diff = train_cols - test_cols

assert actual_diff == expected_diff, f"Column mismatch! Check: {actual_diff - expected_diff}"
print("Columns are perfectly aligned.")

Columns are perfectly aligned.

In [ ]:
# Cell 7
# Save as Parquet for Phase 2
train.to_parquet('../data/processed/train.parquet')
test.to_parquet('../data/processed/test.parquet')

In [ ]:
# Cell 8
print(train.shape)
print(test.shape)
print(train.isnull().sum().sum())
print(test.isnull().sum().sum())

(590540, 434)
(506691, 433)
115523073
90186908

In [ ]:
# Cell 8
display(train.columns)
display(test.columns)

Index(['TransactionID', 'isFraud', 'TransactionDT', 'TransactionAmt',
       'ProductCD', 'card1', 'card2', 'card3', 'card4', 'card5',
       ...
       'id_31', 'id_32', 'id_33', 'id_34', 'id_35', 'id_36', 'id_37', 'id_38',
       'DeviceType', 'DeviceInfo'],
      dtype='object', length=434)

Index(['TransactionID', 'TransactionDT', 'TransactionAmt', 'ProductCD',
       'card1', 'card2', 'card3', 'card4', 'card5', 'card6',
       ...
       'id_31', 'id_32', 'id_33', 'id_34', 'id_35', 'id_36', 'id_37', 'id_38',
       'DeviceType', 'DeviceInfo'],
      dtype='object', length=433)

In [7]:
import pandas as pd
train=pd.read_parquet('../data/processed/train.parquet')
fraud=train[train['isFraud']==1]
print(fraud.head(50))

      TransactionID  isFraud  TransactionDT  TransactionAmt  ProductCD  card1  \
203         2987203        1          89760      445.000000          4  18268
240         2987240        1          90193       37.098000          0  13413
243         2987243        1          90246       37.098000          0  13413
245         2987245        1          90295       37.098000          0  13413
288         2987288        1          90986      155.520996          0  16578
367         2987367        1          92350      225.000000          2   4425
405         2987405        1          92999       90.570000          0   4504
630         2987630        1          97843       12.326000          0   5812
683         2987683        1          99584      124.344002          0   5812
736         2987736        1         100591      100.000000          4  15063
779         2987779        1         102154       10.000000          3   7481
780         2987780        1         102188       10.000000          3   8732
781         2987781        1         102193       10.000000          3   8732
869         2987869        1         106603       83.379997          0   9026
923         2987923        1         108912      774.000000          4   5033
1062        2988062        1         115800       90.872002          0   5009
1064        2988064        1         116130       90.872002          0   2801
1069        2988069        1         116296       90.872002          0   2801
1081        2988081        1         117398     2161.000000          4   9500
1097        2988097        1         119184      159.000000          4   8320
1169        2988169        1         125042       80.000000          4   1191
1173        2988173        1         125295       97.000000          4   1191
1186        2988186        1         126297       80.000000          4   3524
1195        2988195        1         126638       80.000000          4   3524
1235        2988235        1         128602       40.000000          4  10057
1250        2988250        1         129171      226.000000          4   9500
1261        2988261        1         129512      160.500000          4  11839
1269        2988269        1         129710      226.000000          4  10057
1274        2988274        1         129834      280.000000          4  11839
1282        2988282        1         130050      117.000000          4  11839
1355        2988355        1         131866       35.000000          4  10057
1612        2988612        1         136448       80.000000          4   9499
1643        2988643        1         136950      110.000000          4   2803
1680        2988680        1         137550       80.000000          4   3524
1694        2988694        1         137754      240.000000          4  15775
1702        2988702        1         137879      450.000000          1  17524
1704        2988704        1         137916       15.000000          4   9499
1706        2988706        1         137934      450.000000          1  17524
1732        2988732        1         138293      136.990005          4   9112
1966        2988966        1         141106      900.000000          4  17635
1992        2988992        1         141351      994.000000          4  17635
2000        2989000        1         141458       40.240002          0   1976
2007        2989007        1         141482       59.000000          4   7826
2041        2989041        1         141896      100.000000          4  15678
2059        2989059        1         142107      100.000000          4  12592
2080        2989080        1         142370      117.000000          4  12592
2116        2989116        1         142819      250.000000          2   6053
2302        2989302        1         144759      146.000000          4  12422
2357        2989357        1         145327      226.000000          4   7919
2367        2989367        1         145405      117.000000          4  12422

      card2  card3  card4  card5  ...  day_of_week  TransactionAmt_card1_mean  \
203   583.0  150.0      4  226.0  ...            1                 211.995529
240   103.0  185.0      4  137.0  ...            1                  55.788784
243   103.0  185.0      4  137.0  ...            1                  55.788784
245   103.0  185.0      4  137.0  ...            1                  55.788784
288   545.0  185.0      4  226.0  ...            1                  50.617599
367   562.0  150.0      3  197.0  ...            1                 238.935715
405   500.0  185.0      3  219.0  ...            1                  49.964489
630   408.0  185.0      3  224.0  ...            1                  41.650421
683   408.0  185.0      3  224.0  ...            1                  41.650421
736     NaN  150.0      4  226.0  ...            1                 206.212952
779   364.0  146.0      3  166.0  ...            1                  16.097000
780   360.0  150.0      3  229.0  ...            1                  75.881119
781   360.0  150.0      3  229.0  ...            1                  75.881119
869   545.0  185.0      4  137.0  ...            1                  48.594234
923   269.0  150.0      3  224.0  ...            1                 107.136536
1062  296.0  185.0      4  102.0  ...            1                  55.673332
1064  296.0  185.0      4  137.0  ...            1                  56.919842
1069  130.0  185.0      4  137.0  ...            1                  56.919842
1081  321.0  150.0      4  226.0  ...            1                 115.698120
1097  476.0  150.0      4  166.0  ...            1                 101.767670
1169  555.0  191.0      4  102.0  ...            1                  57.385139
1173  555.0  191.0      4  102.0  ...            1                  57.385139
1186  555.0  150.0      4  226.0  ...            1                 111.205132
1195  555.0  150.0      4  226.0  ...            1                 111.205132
1235  225.0  150.0      3  224.0  ...            1                 120.209267
1250  321.0  150.0      4  226.0  ...            1                 115.698120
1261  490.0  150.0      4  226.0  ...            1                 129.685684
1269  225.0  150.0      3  224.0  ...            1                 120.209267
1274  490.0  150.0      4  226.0  ...            1                 129.685684
1282  490.0  150.0      4  226.0  ...            1                 129.685684
1355  225.0  150.0      3  224.0  ...            1                 120.209267
1612  555.0  150.0      4  226.0  ...            1                  41.961109
1643  100.0  150.0      4  226.0  ...            1                 142.683411
1680  555.0  150.0      4  226.0  ...            1                 111.205132
1694  481.0  150.0      3  102.0  ...            1                 107.417709
1702  170.0  150.0      4  195.0  ...            1                 189.681808
1704  555.0  150.0      4  226.0  ...            1                  41.961109
1706  170.0  150.0      4  195.0  ...            1                 189.681808
1732  250.0  150.0      4  226.0  ...            1                  97.557999
1966  565.0  150.0      4  226.0  ...            1                 186.032410
1992  565.0  150.0      4  226.0  ...            1                 186.032410
2000  545.0  185.0      4  102.0  ...            1                  54.271961
2007  481.0  150.0      3  224.0  ...            1                 122.763618
2041  111.0  150.0      3  224.0  ...            1                 100.201759
2059  321.0  150.0      4  226.0  ...            1                 321.903412
2080  321.0  150.0      4  226.0  ...            1                 321.903412
2116  122.0  150.0      3  195.0  ...            1                 207.129486
2302  390.0  150.0      3  224.0  ...            1                  94.404167
2357  194.0  150.0      3  166.0  ...            1                 101.209854
2367  390.0  150.0      3  224.0  ...            1                  94.404167

      TransactionAmt_card1_std  TransactionAmt_to_mean_card1  \
203                 320.906677                      2.099101
240                  46.124474                      0.664972
243                  46.124474                      0.664972
245                  46.124474                      0.664972
288                  35.967567                      3.072469
367                 292.567474                      0.941676
405                  43.138012                      1.812687
630                  35.868305                      0.295939
683                  35.868305                      2.985420
736                 334.243561                      0.484936
779                   8.622460                      0.621234
780                 131.542221                      0.131785
781                 131.542221                      0.131785
869                  41.974888                      1.715841
923                 218.502411                      7.224426
1062                 40.330051                      1.632236
1064                 48.771187                      1.596491
1069                 48.771187                      1.596491
1081                193.372543                     18.677917
1097                148.693237                      1.562382
1169                 29.448940                      1.394089
1173                 29.448940                      1.690333
1186                137.265656                      0.719391
1195                137.265656                      0.719391
1235                209.689392                      0.332753
1250                193.372543                      1.953359
1261                260.747253                      1.237608
1269                209.689392                      1.880055
1274                260.747253                      2.159066
1282                260.747253                      0.902181
1355                209.689392                      0.291159
1612                 20.458994                      1.906527
1643                261.983063                      0.770938
1680                137.265656                      0.719391
1694                 57.758812                      2.234268
1702                178.202927                      2.372394
1704                 20.458994                      0.357474
1706                178.202927                      2.372394
1732                153.069122                      1.404190
1966                257.701019                      4.837867
1992                257.701019                      5.343155
2000                 50.080513                      0.741451
2007                176.530060                      0.480598
2041                136.350327                      0.997986
2059                359.933014                      0.310652
2080                359.933014                      0.363463
2116                356.822357                      1.206975
2302                 31.281488                      1.546542
2357                116.829521                      2.232984
2367                 31.281488                      1.239352

      id_02_card1_mean  id_02_card1_std  id_02_to_mean_card1  D15_card1_mean  \
203      123856.140625    112956.587424                  NaN      169.473679
240      276431.468750    180180.956721             0.614789       30.821753
243      276431.468750    180180.956721             0.804738       30.821753
245      276431.468750    180180.956721             0.983499       30.821753
288      278924.875000    153619.868733             0.925475       24.137932
367      137143.187500    118714.849002             1.030099      132.639999
405      243708.406250    174274.679493             2.257657       48.279869
630      266913.812500    168507.614598             0.224668       42.565445
683      266913.812500    168507.614598             0.114651       42.565445
736      137760.046875    113703.832807                  NaN       95.701904
779      150048.500000    206211.429277             0.028224             NaN
780       60126.089844     56337.112082             0.598808      114.250000
781       60126.089844     56337.112082             0.598808      114.250000
869      243752.093750    165988.667313             0.699498       34.844978
923       99701.898438    102992.339996                  NaN      169.796555
1062     255101.125000    179799.570409             0.277905       37.091503
1064     235117.921875    177746.722082             1.705059       41.235294
1069     235117.921875    177746.722082                  NaN       41.235294
1081     118228.601562    126242.995118                  NaN      203.389908
1097      68056.382812     65244.004029                  NaN      138.381454
1169     199005.250000     22686.285172                  NaN       93.000000
1173     199005.250000     22686.285172                  NaN       93.000000
1186     138568.750000     90171.019359                  NaN      256.343750
1195     138568.750000     90171.019359                  NaN      256.343750
1235     116156.789062    100726.880059                  NaN      176.586990
1250     118228.601562    126242.995118                  NaN      203.389908
1261     120619.640625    121156.572683                  NaN      206.544708
1269     116156.789062    100726.880059                  NaN      176.586990
1274     120619.640625    121156.572683                  NaN      206.544708
1282     120619.640625    121156.572683                  NaN      206.544708
1355     116156.789062    100726.880059                  NaN      176.586990
1612               NaN              NaN                  NaN      334.500000
1643     115617.828125    126890.597252                  NaN      186.602859
1680     138568.750000     90171.019359                  NaN      256.343750
1694       5278.006348     18771.602878                  NaN      192.919434
1702     118182.398438     41225.675972             1.452078      236.575760
1704               NaN              NaN                  NaN      334.500000
1706     118182.398438     41225.675972             0.423921      236.575760
1732      75827.078125     88235.066216                  NaN      188.265350
1966     115605.179688     94131.741644                  NaN      301.406036
1992     115605.179688     94131.741644                  NaN      301.406036
2000     251174.171875    168518.947769             0.533777       41.049370
2007     118450.101562    108471.353524                  NaN      202.910324
2041     105824.890625    100851.291749                  NaN      194.805283
2059     169447.203125    148280.005492                  NaN      111.594597
2080     169447.203125    148280.005492                  NaN      111.594597
2116     126877.406250    162923.405606             0.740636      154.368256
2302               NaN              NaN                  NaN       27.888889
2357      86425.218750     96914.108906                  NaN      159.977066
2367               NaN              NaN                  NaN       27.888889

      D15_card1_std  D15_to_mean_card1
203      210.891647           2.206832
240       97.952530           0.000000
243       97.952530           0.000000
245       97.952530           0.000000
288       68.806992           0.000000
367      197.846237                NaN
405      121.734642           0.000000
630      111.847801           0.046986
683      111.847801           0.046986
736      160.517883           3.270572
779             NaN                NaN
780      171.806122                NaN
781      171.806122                NaN
869      101.519836           0.000000
923      199.473480           0.530046
1062     103.714272           0.000000
1064     101.908257           0.000000
1069     101.908257           0.000000
1081     212.479065           1.106250
1097     174.190399           0.000000
1169     144.074982           3.000000
1173     144.074982           3.000000
1186     173.566681           1.092283
1195     173.566681           1.092283
1235     206.440109           0.549304
1250     212.479065           0.427750
1261     212.075806           2.207754
1269     206.440109           0.022652
1274     212.075806           2.207754
1282     212.075806           2.207754
1355     206.440109           0.549304
1612     216.666626           1.192825
1643     207.750519           0.257231
1680     173.566681           1.092283
1694      95.033020           0.067386
1702     183.839264                NaN
1704     216.666626           1.192825
1706     183.839264                NaN
1732     211.883102           0.058428
1966     225.928268           1.509592
1992     225.928268           1.509592
2000     105.107491           3.240001
2007     206.969803           2.099450
2041     217.744171           0.836733
2059     146.618454           0.654154
2080     146.618454           0.654154
2116     188.741974                NaN
2302      15.276161                NaN
2357     189.132858                NaN
2367      15.276161           0.645418

[50 rows x 446 columns]